body {
    background-color: rgb(175, 252, 226);
    display: flex;
    justify-content: center;
  }

  h1 {
    padding: 5px;
    color: black;
    font-size: 2em;
    align-self: center;
    position: relative;
  }

  #title {
    border-radius: 10px;
    width: 534px;
    height: 60px;
    background-color: orange;
    border: 3px solid black;
    position: absolute;
    display: inline-flex;
    flex-direction: row;
    justify-content: center; 
    font-family: fantasy;
    font-size: 1.2em;
  }

  #gameFull {
    width : 540px;
    height: 540px;
    padding: 0px;
    margin-top : 70px;
    background-color: aquamarine;
    margin-left: auto;
    margin-right: auto;
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .board {
    width: 176px;
    height: 176px;
    padding: 0px;
    border: 2px solid black;
    font-family: fantasy;
    font-size: 100px;
    display: inline-flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    position: relative;
    color: red;
    cursor: crosshair;
    opacity: .3;
  }
  #gameE {
      opacity: 1;
  }
  .box {
    background-color: orange;
    width: 53px;
    height: 53px;
    padding: 0px;
    margin: 2px;
    font-family: fantasy;
    font-size: 35px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    position: relative;
    color: red;
    cursor: crosshair;
  }

  .status {
    background-color: orange;
    border: 3px solid black;
    border-radius: 10px;
    width: 534px;
    height: 35px;
    position: absolute;
    margin-top: 620px;
    display: inline-flex;
    align-content: center;
    justify-content: center;
  }

  #textDisplay {
    align-self: center;
    width: 225px;
    height: 26px;
    border: 1px solid black;
    margin-right: 10px;
    text-align: center;
    font-family: fantasy;
    font-size: 1.2em;
    background-color: aquamarine;
  }

  button {
    border-radius: 15px;
    height: 30px;
    align-self: center;
    font-family: fantasy;
    background-color: aquamarine;
    border: 2px solid navy;
    margin: 0px 3px 0px 3px;
  }

  button:hover {
    border: 2px solid aquamarine;
    background-color: orange;
  }